.ninja-container {
  display:flex;
  align-items:flex-start;
  flex-direction: column;
  height:100%;
}

.ninja {
  display: flex;
  

  & img {
    height:25em;
    object-fit: contain;

    // cool animation
    animation: comeFromLeft 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  &__small {
    height:15em!important;
  }

  &__large {
    height:30em!important;
  }

}

@keyframes comeUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes comeFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}