.ninja-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  z-index: 9999;
}

.ninja {
  display: flex;

  & img {
    height: 25em;
    object-fit: contain;

    // cool animation
    animation: comeFromLeft 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  &__small {
    height: 15em !important;

    @media screen and (max-width: 450px) {
      height: 10em !important;
      margin-top:1.5em;
    }
  }

  &__large {
    height: 27em !important;

    @media screen and (max-width: 1350px) {
      height: 20em !important;
    }
  }
}

@keyframes comeUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes comeFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
