h2 {
  font-size: 1em;
  display:contents;
  font-weight:400;
}


.App {
  text-align: center;
  background-color: #fefff5;
  background-image: url("../public/backgrounds/rice.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  /* Blur background */
  background-blend-mode: multiply;

}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top:3vh;
}

.wrapper {
  width:80vw;
  margin-bottom:3em;
}

.no-margin {
  margin: 0 !important;
}

.red {
  color:red;
}

.clear-font {
  font-family: Renogare-Regular;
  line-height: 1.5em;
  font-size: 0.85em;
}

.cool-font {
  background: -webkit-linear-gradient(red, rgb(255, 106, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background: -webkit-linear-gradient(rgb(33, 15, 107), rgb(9, 118, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
}
