.App {
  text-align: center;
  height:100vh;
  background-image: url("../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* Blur background */
  background-blend-mode: multiply;
}

.container {
  display:flex;
  align-items: center;
  justify-content: center;

  margin-top:3vh;
}

.wrapper {
  width:80vw;
}