.App {
  text-align: center;
  background-color: #fefff5;
  background-image: url("../public/backgrounds/rice.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  /* Blur background */
  background-blend-mode: multiply;
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top:3vh;
}

.wrapper {
  width:80vw;
  margin-bottom:3em;
}

.no-margin {
  margin: 0 !important;
}

.red {
  color:red;
}