@font-face {
  font-family: Katanf;
  src: url("../public/fonts/Katanf.ttf") format("truetype");
}

@font-face {
  font-family: Katanf-Italic;
  src: url("../public/fonts/Katanfi.ttf") format("truetype");
}

@font-face {
  font-family: Bleak-Chop;
  src: url("../public/fonts/Bleak Chop.ttf") format("truetype");
}

@font-face {
  font-family: Bankai;
  src: url("../public/fonts/Bankai.otf") format("opentype");
}

@font-face {
  font-family: Hashiba;
  src: url("../public/fonts/Hashiba.ttf") format("truetype");
}

@font-face {
  font-family: Renogare-Regular;
  src: url("../public/fonts/Renogare-Regular.otf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Katanf;
}

p {
  font-family: Bleak-Chop;
}

html,
body {
  overflow-x: hidden;
}

